---
---
<a
href={`/proyectos/ModuTuring`}
class="flex flex-col 
items-center hover:scale-105 shadow-xl transition-all xl:flex-row relative p-2 overflow-hidden gap-5 rounded-md hover:bg-zinc-500"
>
<picture class="h-40 w-auto flex-none">
    <img src="/img/SimMTD.webp" alt="" class="h-full w-full rounded-md object-cover" />
</picture>
<div class="flex flex-col flex-auto text-wrap truncate">
    <h2 class="text-lg font-semibold mb-3 text-gray-900 dark:text-white">ModuTuring</h2>
    <span class="text-base font-normal text-gray-500 dark:text-gray-400">Simulador web de máquinas de Turing, utiliza el diseño modular usado en la Universidad del Bío-Bío.
        Desarrollar este proyecto fue un desafío en mi carrera Universitaria, ademas es con el cual me he titulado como proyecto de grado.
    </span>
</div>
</a>